# -*- coding: utf-8 -*-
DBHOST = "localhost"
DBUSER = "root"
DBPASS = "root"
DBNAME = "OpenYo"

YOTOKEN = "YO-API-TOKEN"

require_relative 'plugins/imkayac'
require_relative 'plugins/yo'
require_relative 'plugins/gcm'

def decideType(database, username, fromUser, type)
  case type
  when "callback" then
  when "imkayac" then
    ImKayac::notify(database, username, fromUser)
  when "yo" then
    NotifyYo::notify(database, username, fromUser)
  when "gcm" then
    GCM::notify(database, username, fromUser)
  else
    # do nothing!
  end
end
