<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>OpenYo</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  <h1 id="head">Yo</h1>

  <p>
  <h2>ImKayac Settings</h2>
  <a href="http://im.kayac.com/">im.kayac.com</a> を通じて通知を送る設定<br />
  ImKayac のID: <input type="text" id="kayacId" size="20" /><br />
  ImKayac のpass(あれば): <input type="password" id="kayacPass"/><br />
  ImKayac の秘密鍵(あれば): <input type="password" id="kayacSec"/><br />
  OpenYo のあなたのパスワード: <input type="password" id="password"/><br />
  <input type="submit" id="imSubmit" value="登録" /><br />
  <span id="msgBox"></span>
  </p>

  <a href="/mypage/">Mypage</a><br />
  <a href="/login/">Login</a>
</body>
<script src="/js/imkayac.js"></script>
</html>
