<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>OpenYo</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  <h1 id="head">Yo</h1>

  <h2>Send Yo</h2>
  <input type="text" id="to" size="20" />
  <input type="submit" id="yo" value="Yo" /><br />
  <span id="msgBox"></span>

  <h2>Yo All</h2>
  <input type="submit" id="yoAll" value="YoAll!" /><br />
  <span id="YoAllMsgBox"></span>

  <h2>History</h2>
  <input type="submit" id="history" value="show history" /><br />
  <table id="historyBox">
  <tr><td>From</td><td>Time</td></tr>
  </table>

  <a href="/mypage/imkayac/">Im.Kayac.com の設定</a><br />
  <a href="/login/">Login</a>
</body>
<script src="/js/user.js"></script>
<script src="/js/yo.js"></script>
</html>
