<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>OpenYo</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  <h1>Sign Up</h1>
  <span id="head">If you have account already, login <a href="/login/">HERE</a></span>
  <p>
    id: <input type="text" id="id" size="20" /><br />
    pass: <input type="password" id="pass" /><br />
    <input type="submit" id="create" value="create" /><br />
    <span id="msgBox"></span><br />
  </p>
</body>
<script src="/js/signup.js"></script>
</html>
